.header-color{
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.landing-grid{
  background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.avatar-image{
  height: 240px;
  padding-top: 5em;

}

.banner-text{
  background-color: black;
  
  opacity: .9;
  width: 75%;
  border-radius: 10px;
}
.banner-text h1{
  font-size: 70px;
  font-weight: bold;
  color:white;
  text-align: center;
}
.banner-text hr{
  border-top: 5px dotted white;
  width: 60%;
  margin: auto;
}

.banner-text p{
  color: white;
  font-size: 21px;
  padding: 1em;
  text-align: center;
}
.social-links{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.social-links i{
  color: white;
  font-size:  4em;
  padding: 7px;
}